* {
  padding: 0;
  margin: 0;
  font-family: "Popins", sans-serif;
  font-weight: normal;
}

.App {
  height: 200vh;
  background-color: #61533d;
  padding-top: 100px;
}

.main_nav {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #474542;
  height: 50px;
  width: 100vw;
  position: fixed;
  color: white;
  top: 0;
}

.secondnav {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #474542;
  height: 50px;
  width: 100vw;
  position: fixed;
  color: white;
  bottom: 10px;
}
.secondnav .nav-item {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}
.secondnav .nav-item:hover {
  background: #30aa17;
  color: black;
  border-radius: 10px;
}
.main_nav .nav-item {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
}

.main_nav .nav-item:hover {
  background: #30aa17;
  color: black;
  border-radius: 10px;
}

.main {
  text-align: center;
}

h1 {
  font-weight: bolder;
  font-size: xx-large;
  color: white;
}
h2 {
  font-weight: bolder;
  font-size: xx-large;
  color: yellow;
}
p {
  color:white;
  font-size: x-large;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: large;
}
button {
  
  font-size: large;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: #30aa17;
  margin: 10px;
  border-radius: 5px;
}

span {
  color:white;
  padding: 20px;
  font-size: x-large;
}
span .text {
  color:rgb(43, 153, 89);
  padding: 20px;
  font-size: x-large;
}


.Alert{
  position: fixed;
  background-color: #ffffff;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 100px;
  border-radius: 10px;
}
.Alert h4 {
  padding-top: 10px;
  font-size: x-large;
  font-weight: bolder;
  color: #000000;
}
.Alert p {
  color: #000000;
}
.Alert button {
  color: #000000;
}

.Row {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  justify-content: center;
}

header {
  padding-top: 100px;
  color:white;
  font-size: xx-large;
}

.BasicTracker {
  background-color: #ffffff;
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 10px;
  border-radius: 10px;
}
.BasicTracker p, span{
  color: #000000;
}

.Feedback {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #564469;
}
.Feedback h2 {
 display: block;
 text-align: start;
 padding-left: 20px;
 color:#000000;
 padding-top: 10px;
 padding-bottom: 20px;
}
.Feedback textarea {
  padding:10px;
  font-size: large;
  width: 90%;
  height: 100px;
 }
 .Feedback button {
  width: 94%;
  padding: 1;
  border-radius: 20px;
 }
 .Feedback label {
  display: block;
  text-align: start;
  color:#ffffff;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 5px;
  font-size: larger;
 }

 .Feedback input {
  display: block;
  width: 90%;
 }

 .Form {
  margin-left: 30vw;
  margin-right: 30vw;
  margin-top: 10px;
  border-radius: 10px;
 }
 .Form input {
  display: block;
  width: 92%;
  padding: 5px;
 }
 .Form label {
  display: block;
  text-align: start;
  color:#ffffff;
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
  font-size: larger;
 }
 .Form button {
  width: 95%;
  padding: 1;
  margin-top: 0;
  border-radius: 20px;
 }